<div class="bid-card">
    <div class="item-image">
      <img [src]="bidData.productImageLink" alt="{{ bidData.productName }}">
    </div>
    <div class="bid-details">
        <div class="interaction">
            <div class="like-share">
                <div class="icon-container">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-share"></i>
                </div>
                <span class="like-views">
                  {{ bidData.likes}} likes.{{ bidData.views}} views</span>
              </div>
        </div>
        <div class="timer-bids">
            <div class="timer">
              <span class="time-left">{{timeLeft}}</span>
            </div>
            <div class="bids-number">
              <span class="bids-count">{{bidData.totalBids}} bids</span>
            </div>
        </div>
        <h3 class="product-name">{{bidData.productName}}</h3>
        <div class="current-bid">
            <span class="current-bid-title">Current Bid</span>
          </div>
          <div class="bid-value">
            <span>$ {{bidData.currentBid}}</span>
            <i class="far fa-bookmark"></i>
          </div>
          <button class="raise-bid-button" *ngIf="bidData.isActive">
            <i class="far fa-hand-pointer raise-bid-icon"></i>
            Raise Bid
          </button>
    </div>
</div>
  