<div class="bid-card">
    <div class="item-image">
      <img src="../../assets/images/shoe.jpg" alt="Item Image">
    </div>
    <div class="bid-details">
        <div class="interaction">
            <div class="like-share">
                <div class="icon-container">
                  <i class="far fa-heart"></i>
                  <i class="fas fa-share"></i>
                </div>
                <span class="like-views">45 likes.454 views</span>
              </div>
        </div>
        <div class="timer-bids">
            <div class="timer">
              <span class="time-left">0d: 5h: 30m: 25s</span>
            </div>
            <div class="bids-number">
              <span class="bids-count">30 bids</span>
            </div>
        </div>
        <h3 class="product-name">Product Name</h3>
        <div class="current-bid">
            <span class="current-bid-title">Current Bid</span>
          </div>
          <div class="bid-value">
            <span>$ 875.00</span>
            <i class="far fa-bookmark"></i>
          </div>
          <button class="raise-bid-button">
            <i class="far fa-hand-pointer raise-bid-icon"></i>
            Raise Bid
          </button>
    </div>
</div>
  