<div class="sidebar">
    <!-- Logo -->
    <div class="logo">
      <span class="logo-text">iKick</span>
    </div>

    <!-- Navigation Links -->
    <ul>
      <li routerLink="/" routerLinkActive="active">
        <i class="fas fa-home"></i> Home
      </li>
      <li routerLink="/insights" routerLinkActive="active"><i class="far fa-chart-bar"></i> Insights</li>
      <li routerLink="/my-bid" routerLinkActive="active"><i class="fas fa-gavel"></i> My Bid</li>
      <li routerLink="/message" routerLinkActive="active"><i class="far fa-envelope"></i> Message</li>
      <li routerLink="/notification" routerLinkActive="active"><i class="far fa-bell"></i> Notification</li>
      <li routerLink="/save" routerLinkActive="active"><i class="far fa-save"></i> Save</li>
      <li routerLink="/create" routerLinkActive="active"><i class="fas fa-plus"></i> Create</li>
      <li routerLink="/profile" routerLinkActive="active"><i class="far fa-user"></i> Profile</li>
    </ul>
  </div>