<div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search here" class="search-input">
  </div>
  <div class="listing-header">
    <div class="header-text">Active Listing</div>
    <div class="see-all">
      <span>See all</span>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <div class="bids-list">
    <app-bid *ngFor="let bid of activeBids" [bidData]="bid"></app-bid>
  </div>

  <div class="listing-header">
    <div class="header-text">Upcoming Listing</div>
    <div class="see-all">
      <span>See all</span>
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>

  <div class="bids-list">
    <app-bid *ngFor="let bid of upcomingBids" [bidData]="bid"></app-bid>
  </div>