<div class="listing-header">
  <div class="header-text">Categories</div>
  <div class="see-all">
    <span>See all</span>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>

<div class="category-list">
  <div class="category-item" *ngFor="let category of categories">
    <img [src]="category.imageLink" alt="{{ category.name }}">
    <p class="category-name">{{category.name}}</p>
  </div>
</div>

<div class="listing-header">
  <div class="header-text">Featured Celebrities</div>
  <div class="see-all">
    <span>See all</span>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>

<div class="featured-celebrities">
  <div class="celebrity-item"  *ngFor="let celebrity of celebrities">
    <div class="celebrity-info">
      <div class="celebrity-image">
        <img [src]="celebrity.imageLink" alt="{{ celebrity.name }}">
      </div>
      <div class="celebrity-details">
        <h4 class="celebrity-name">{{celebrity.name}}</h4>
      </div>
    </div>
  </div>
</div>