<div class="listing-header">
  <div class="header-text">Categories</div>
  <div class="see-all">
    <span>See all</span>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>

<div class="category-list">
  <div class="category-item">
    <img src="assets/images/shoe.jpg" alt="Category 1">
    <p class="category-name">Featured</p>
  </div>

  <div class="category-item">
    <img src="assets/images/shoe.jpg" alt="Category 2">
    <p class="category-name">Dancer</p>
  </div>
  <div class="category-item">
    <img src="assets/images/shoe.jpg" alt="Category 1">
    <p class="category-name">Musician</p>
  </div>
  <div class="category-item">
    <img src="assets/images/shoe.jpg" alt="Category 2">
    <p class="category-name">Movie Star</p>
  </div>
</div>

<div class="listing-header">
  <div class="header-text">Featured Celebrities</div>
  <div class="see-all">
    <span>See all</span>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>

<div class="featured-celebrities">
  <div class="celebrity-item">
    <div class="celebrity-info">
      <div class="celebrity-image">
        <img src="assets/images/shoe.jpg" alt="Celebrity 1">
      </div>
      <div class="celebrity-details">
        <h4 class="celebrity-name">Shahid Kapoor</h4>
      </div>
    </div>
  </div>
  <div class="celebrity-item">
    <div class="celebrity-info">
      <div class="celebrity-image">
        <img src="assets/images/shoe.jpg" alt="Celebrity 2">
      </div>
      <div class="celebrity-details">
        <h4 class="celebrity-name">Shahrukh Khan</h4>
      </div>
    </div>
  </div>
</div>